/*-- scss:defaults --*/
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #f0f0f0;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

// $primary: #440154ff;
$primary: #fdfdfd;
$secondary: #062a4a;
$tertiary: rgb(92, 170, 63);

$theme-white: #F7F8F9;
$theme-yellow: #E8D4AD;
$theme-darksand: #D0927D;
$theme-night: #060708;
$theme-ground: #416270;

// water secondary 
$water1: #48BDF3;
$water2: #1E6CB2;
$water3: #184C86;
$water0: #F2F2F2;

// water main
$theme-water: #dae9f9;
$theme-watershadow: #C6DFF9;
$theme-ocean: #051525;

// navbar text
// $navbar-fg: #f5eff6;
$navbar-fg: $theme-night;
$light-bg: #f8f5f9;
// $link-color: $tertiary; 
// #051525;

// fonts
// $font-family-sans-serif: 'JetBrains Mono', sans-serif;
// $presentation-heading-font: 'JetBrains Mono', serif;

// fonts
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url('https://rsms.me/inter/inter.css');

@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");


@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

$font-family-sans-serif: 'Atkinson Hyperlegible', sans-serif;

/*-- scss:defaults --*/

$body-bg: #FAF9F7;
$body-color: #444;

$presentation-heading-color: #333;
$link-color: #ff3399;



/*-- scss:rules --*/

.reveal {
  background-color: #FAF9F7;
}


// :root {
//     --bs-body-font-family: 'Atkinson Hyperlegible';
//     --bs-body-font-size: 21px;
//   }

//   .reveal h1, h2, h3, p {
//     --bs-body-font-family: 'Atkinson Hyperlegible';
//     --bs-body-font-size: 21px;
//   }

// remove the gap at the start of the page
main {
	margin-top: 0em;
	margin-bottom: 1em;
}

.move-down {
  transform: translate(0em,5em);
}

.v-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  // font-family: JetBrains Mono;
  font-size: 70px;
}

#title-block-header {

	margin-top: -20px;
}

// for links
 /* unvisited link */
 a:link {
    color: rgb(59, 3, 110);
  }
  
  /* visited link */
  a:visited {
    color: rgb(13, 0, 128);
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  } 


pre code.sourceCode {
  padding-left: 0;
  font-family: "JetBrains Mono", monospace;
}

// Output colors
.watch {
  background-color: lightpurple;
  border: 3px solid purple;
  font-weight: bold;
}

.smallframe {
  /*box-shadow: $back-blue 10px 5px 5px 0px;*/
  border: none;
  border-radius: 5px;
  margin-bottom: 10px !important;
  // box-shadow: 0 20px 47px rgb(0 0 0 / 55%);
  width: 400px;
  /*margin: auto !important;*/
  
}

.medframe {
  /*box-shadow: $back-blue 10px 5px 5px 0px;*/
  border: none;
  border-radius: 5px;
  margin-bottom: 10px !important;
  box-shadow: 0 20px 47px rgb(0 0 0 / 55%);
  width: 915px;
  /*margin: auto !important;*/
  
}


.myframe {
  /*box-shadow: $back-blue 10px 5px 5px 0px;*/
  border: none;
  border-radius: 5px;
  margin-bottom: 10px !important;
  box-shadow: 0 20px 47px rgb(0 0 0 / 55%);
  /*margin: auto !important;*/
  
}

.myframe2 {
  /*box-shadow: $back-blue 10px 5px 5px 0px;*/
  border: none;
  border-radius: 5px;
  margin-bottom: 10px !important;
  box-shadow: 0 20px 47px rgb(0 0 0 / 55%);
  /*width: fit-content;*/
  /*margin: auto !important;*/
}

.pic-border{
    border: 5px solid black;
    padding: 5px;
}

// box around splash options
.box {
  border-radius: 5px;
  // box-shadow: 0px 30px 40px -20px var(--grayishBlue);
  padding: 30px;
  margin: 20px; 
  border-style: solid;
  border-width: 3px;
  border-color: black;
  font-family: 'JetBrains Mono';
  font-size: 20px;
}

.window-style {
  
  pre > code.sourceCode { white-space: pre; position: relative; }
pre > code.sourceCode > span { line-height: 1.25; }
pre > code.sourceCode > span:empty { height: 1.2em; }
.sourceCode { overflow: visible; }
code.sourceCode > span { color: inherit; text-decoration: inherit; }
div.sourceCode { margin: 1em 0; }
pre.sourceCode { margin: 0; }
@media screen {
div.sourceCode { overflow: auto; }
}
@media print {
pre > code.sourceCode { white-space: pre-wrap; }
}
pre.numberSource code
  { counter-reset: source-line 0; }
pre.numberSource code > span > a:first-child::before
  { content: counter(source-line);
    position: relative; text-align: right; vertical-align: baseline;
    border: none; 
    -webkit-touch-callout: none; -webkit-user-select: none;
    -khtml-user-select: none; -moz-user-select: none;
    -ms-user-select: none; user-select: none;
    padding: 0 4px; width: 4em;
    background-color: navy;
    color: #f8f8f2;
  }
pre.numberSource { color:#bdae9d;}
div.sourceCode.cell-code
  { color: #f8f8f2; background-color: navy; }

  
  // pre.sourceCode numberSource r number-lines code-with-copy

  
  code.sourceCode.scss {
    background-color: navy;
    color: #f8f8f2;
    
  }
      code.sourceCode.r {
      background-color: navy;
      color: #f8f8f2;
    
  }
  code.sourceCode.sass {
    color: #f8f8f2;
  
  }

  code.sourceCode.bash {
    background-color: navy !important;
    color: #f8f8f2 !important;
  }
  
  a {
  color: #f8f8f2;
}

 
  code span.cn { 
    color: $theme-darksand; 
  } /* Alert */
  code span.an { 
    color: #0066ff;
    font-weight: bold; font-style: italic; 
  } /* Annotation */
  code span.co {
    color: #f8f8f2;
    font-style: italic;
  }
  code a:any-link {
    color: inherit;
    text-decoration: none;
  }
  code span.ot {
    color: #00e0e0;
  }
  code span.sc {
    color: #abe338;
  }
  code span.fu {
    color: #ffa07a;
  }
  
  code span.do {
    color: gold;
    font-style: italic;
}
  code span {
    color: white;
  }
  
}

 .reveal pre code {
    color: #f8f8f2;
    background-color: navy;
  }

  .reveal .window-style div.sourceCode,
.reveal .window-style pre.sourceCode,
.reveal .window-style code.sourceCode {
  background-color: navy !important;
  color: #f8f8f2 !important;
}

.window-style .filetree {
  font-family: "JetBrains Mono", monospace;
  color: #f8f8f2;
}

.window-style .filetree .folder {
  color: #48BDF3;
  font-weight: 600;
}

.center {
  margin-left: auto !important;
  margin-right: auto !important;
}